@model IEnumerable<GAPEvaluation.Domain.Models.ClientPolicy>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Client.IdNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Policy.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RiskType.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CoveragePct)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Client.IdNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Policy.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RiskType.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CoveragePct)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdClientPolicy }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdClientPolicy }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdClientPolicy })
        </td>
    </tr>
}

</table>
